.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #009999 0%, #005B5B 100%), #198C42, #00B2B2, radial-gradient(center 50% 50%, radius 100%, #00B2B2, #198C42);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #009999 0%, #005B5B 100%),
    #00B2B2,
    #198C42,
    radial-gradient(center 50% 50%, radius 100%, #009999, #005B5B);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}