.slider .track {
    -fx-pref-width: 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: linear-gradient(to bottom,
    derive(greenyellow, 0%),
    derive(yellow, 0%),
    derive(red, 0%)
    );
    -fx-border-color: #083c70;
    -fx-border-width: 2;
}

.slider .thumb {
    -fx-background-color: #083c70;
}

.slider .axis {
    -fx-tick-label-fill: white;
}